body {
  font-family: Poppins, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

h1 {
  text-align: center;
}

.product-list { /*located in Home.jsx*/
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

